* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #283149;
}
.h1 {
	font-size: 60px;
	text-align: center;
	color: #dbedf3;
	text-shadow: 2px 0 #da0463;
}
.container {
	display: grid;
	gap: 50px;
	/* justify-self: center; */
	/* align-items: center; */
	/* padding: 0 20px; */
	justify-content: center;
	width: 100%;
	grid-template-columns: repeat(auto-fit, 150px);
	/* grid-template-rows: repeat(auto, 200px); */
}
.box {
	text-shadow: 3px;

	width: 130%;
	height: 170px;
	margin: 10px;
	background-color: white;
	/* background-image: cover; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	color: #da0463;
	font-weight: bold;
	border: 10px solid #404b69;
	border-radius: 7px;
	/* background-repeat: no-repeat; */
}

p{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.w {
	background-image: url("https://shreyajaiswal11.github.io/Drum-Kit/images/crash.png");
}
.a {
	background-image: url("https://shreyajaiswal11.github.io/Drum-Kit/images/tom2.png");
}
.s {
	background: url("https://shreyajaiswal11.github.io/Drum-Kit/images/tom3.png");
}
.d {
	background: url("https://shreyajaiswal11.github.io/Drum-Kit/images/tom1.png");
}
.j {
	background: url("https://shreyajaiswal11.github.io/Drum-Kit/images/snare.png");
}
.k {
	background: url("https://shreyajaiswal11.github.io/Drum-Kit/images/tom4.png");
}
.l {
	background: url("https://shreyajaiswal11.github.io/Drum-Kit/images/kick.png");
}
